<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8" />
    <script type="text/javascript">
      function addTF(str)
      {
        document.faceForm.face.value += str;
      }
    </script>
  </head>
  <body>
    <!--<form name="faceForm">-->
      <input type="text" id="form1"><br>
      <input type="button" value="&divide;" onClick="addTF(this.value)"><br>
      <input type="button" value="&int;" onClick="addTF(this.value)"><br>
      <input type="button" value="&plusmn;" onClick="addTF(this.value)"><br>
    <!--</form>-->
  </body>
</html>