<div class="center jumbotron">
  <div class="text-center font-italic">
    <h1>Math Square</h1>
  </div>
    <div class="search-form text-center">
      <%= form_with url: search_questions_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %> 
        <button type="submit" class="btn-secondary">
          <i class="fas fa-search"></i> 検索
        </button>
      <% end %>
    </div>
  <div class="offset-sm-2 col-sm-8">
    <h4 class="text-center">新着の質問</h4>
    <%= render 'questions/questions', questions: @questions %>
  </div>
</div>